
.Rhistory
Figures/
Tables/
Results/results-98863bd139ec98cf6bc52549beaaf679*
Python_Scripts/__pycache__
Python_Scripts/OrderedCategorySystem.py
Python_Scripts/data_cleaner.py
Python_Scripts/RationalCategorySystem.py
Simulations/